#title {
    font-size: 300%;
    width: 100%;
    height: 30%;
    text-align: center;
}

body {
    background-color: rgb(53, 53, 253);
    margin: 0%;
}

#link {
    position: relative;
    text-align: center;
    font-size: 150%;
    margin-top: 28.5%;
}

#vbuck {
    position: absolute;
    top: 17.5%;
    left: 42.5%;
    scale: 150%;
}

#link:hover {
    cursor: pointer;
}

